# Regular package registry is still npmjs.org
registry=https://registry.npmjs.org/

# For our internal packages for the frontend
@laioutr-core:registry=https://npm.laioutr.cloud/

# For our private packages
@laioutr-private:registry=https://npm.laioutr.cloud/

# For our licensable first-party packages
@laioutr-app:registry=https://npm.laioutr.cloud/

# Laioutrs private npm registry auth
//npm.laioutr.cloud/:_authToken=NPMRC_LAIOUTR_TOKEN
//npm.laioutr.cloud/:always-auth=true